.cardStyle {
    width: 202px;
    height: 220px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.imgStyle {
    width: 200px;
    height: 230px;
}

.imgStyle:hover {
    width: 210px;
    height: 230px;
    animation: an-li 2000ms;

}

.cardStyle:hover {
    animation: an-li 2000ms;
}

@keyframes an-li {
    from {
        width: 200px;
    }
    to {
        width: 220px;
    }
}

